# Git
.git
.gitignore
.gitattributes

# Environment
.env
.env.*
!.env.example

# Dependencies
/vendor
/node_modules

# Laravel
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
/coverage
.phpunit.result.cache

# Build
/public/build
/public/hot
/public/storage