APP_NAME="Agro365"
APP_ENV=production
APP_KEY=base64:s27NEzPnnLe4UjsHei0zenSLNOirU7FNn7hknAR8SKM=
APP_DEBUG=false
APP_TIMEZONE=Europe/Madrid
APP_URL=https://agro365.es
APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=u337373605_agro365_pro
DB_USERNAME=u337373605_agro365
DB_PASSWORD=gro3652025cocoteq22Mistercagadas22@

SESSION_DRIVER=database
SESSION_LIFETIME=180
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=
SESSION_SECURE_COOKIE=true
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax
SESSION_PARTITIONED_COOKIE=false

CACHE_STORE=database
CACHE_PREFIX=agro365

QUEUE_CONNECTION=database
DB_QUEUE_TABLE=jobs
DB_QUEUE_CONNECTION=

MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=info@agro365.es
MAIL_PASSWORD=Mistercagadas22@
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=info@agro365.es
MAIL_FROM_NAME="Agro365"

LOG_CHANNEL=stack
LOG_STACK=daily
LOG_LEVEL=error
LOG_DAILY_DAYS=30
LOG_DEPRECATIONS_CHANNEL=null
LOG_DEPRECATIONS_TRACE=false

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
VITE_APP_NAME="${APP_NAME}"

RECAPTCHA_ENABLED=true
RECAPTCHA_SITE_KEY=6LcskzIsAAAAAC9BnLeHFVqFakTZSwo0y5oGUNUH
RECAPTCHA_SECRET_KEY=6LcskzIsAAAAAJMN_oRQ0dImMWqCFzYb-5dsaAxw

SENTRY_LARAVEL_DSN=https://cc15e4e7d3b9a7f9d24b61f4b155deb4@o4510573257555968.ingest.de.sentry.io/4510573266337872